/* pages/station/station.wxss */
.station-container {
  background: #F6F7F8;
}

.station-head {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500rpx;

  .swiper-icon-star {
    position: absolute;
    right: 40rpx;
    bottom: 170rpx;
  }

  .head-swiper {
    width: 100%;
    height: 100%;
  }

  .head-swiper-item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  swiper .wx-swiper-dots {
    margin-bottom: 160rpx !important;
  }
}

.station-body {
  position: relative;
  z-index: 10;
  margin-top: -170rpx;
  padding: 20rpx;
  margin-bottom: 300rpx;
  background: transparent;

  .body-top {
    width: 100%;
    height: 280rpx;
    box-sizing: border-box;
  }

 
}
.station-item-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(318deg, #FF895F 0%, #FFD438 100%);
}

.station-foot {
  height: 240rpx;
  width: 100%;
  background: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  box-sizing: border-box;
}