/* pages/order/detail/detail.wxss */

.order-detail-container {
  padding: 20rpx;
  background: #F6F7F8;
.station-item-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(318deg, #FF895F 0%, #FFD438 100%);
}
}