/* pages/map/map.wxss */

.map-bg {
    height: 100%;
    width: 100%;
}

.marker-slot {
    position: relative;
   
}

.marker-box {
    padding: 5px 10px;
    border-radius: 10px;
    // width: 70px;
    height: 26px;
    font-size: 14px;
    color: #000;
    background: #FDFEFF;
    // box-shadow: 0px 1px 2px 0px rgba(10, 36, 99, 0.24), 0px 0px 8px 0px rgba(10, 36, 99, 0.08)
}

.marker-node {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -32px;
    margin: auto;
    transform: rotate(45deg);

}

.foot-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120rpx;
    width: 100%;
    background: #fff;
}